*.egg-info/
*.log
*.whl
.DS_Store
__pycache__/
build/
dist/
site/
Ignored/
spotpython.code-workspace
src/spotpython/_version.py
src/spotpython/_version*.py
Figures.d/*
notebooks/runs/
notebook/runs/*
notebook/runs/*/*
notebooks/data/cifar-10-batches-py/batches.meta
notebooks/data/cifar-10-batches-py/data_batch_1
notebooks/data/cifar-10-batches-py/data_batch_2
notebooks/data/cifar-10-batches-py/data_batch_3
notebooks/data/cifar-10-batches-py/data_batch_4
notebooks/data/cifar-10-batches-py/data_batch_5
notebooks/data/cifar-10-batches-py/readme.html
notebooks/data/cifar-10-batches-py/test_batch
notebooks/data/cifar-10-python.tar.gz
notebooks/res_11-torch_maans05_1min_3init_2023-04-26_15-45-08.pkl
Figures.d/11-torch_p040025_1min_3init_2023-04-26_21-13-51_importance.pdf
Figures.d/11-torch_p040025_1min_3init_2023-04-26_21-13-51_progress.pdf
notebooks/res_11-torch_p040025_1min_3init_2023-04-26_21-13-51.pkl
Figures.d/11-torch_p040025_1min_3init_2023-04-26_21-42-26_importance.pdf
Figures.d/11-torch_p040025_1min_3init_2023-04-26_21-42-26_progress.pdf
notebooks/res_11-torch_p040025_1min_3init_2023-04-26_21-42-26.pkl
notebooks/res_11-torch_p040025_1min_3init_2023-04-26_22-37-22.pkl
Figures.d/11-torch_s7cfd16_720min_20init_2023-04-27_15-16-12_contour_0_1.pdf
Figures.d/11-torch_s7cfd16_720min_20init_2023-04-27_15-16-12_contour_0_2.pdf
Figures.d/11-torch_s7cfd16_720min_20init_2023-04-27_15-16-12_contour_0_3.pdf
Figures.d/11-torch_s7cfd16_720min_20init_2023-04-27_15-16-12_contour_0_4.pdf
Figures.d/11-torch_s7cfd16_720min_20init_2023-04-27_15-16-12_contour_1_2.pdf
Figures.d/11-torch_s7cfd16_720min_20init_2023-04-27_15-16-12_contour_1_3.pdf
Figures.d/11-torch_s7cfd16_720min_20init_2023-04-27_15-16-12_contour_1_4.pdf
Figures.d/11-torch_s7cfd16_720min_20init_2023-04-27_15-16-12_contour_2_3.pdf
Figures.d/11-torch_s7cfd16_720min_20init_2023-04-27_15-16-12_contour_2_4.pdf
Figures.d/11-torch_s7cfd16_720min_20init_2023-04-27_15-16-12_contour_3_4.pdf
Figures.d/11-torch_s7cfd16_720min_20init_2023-04-27_15-16-12_importance.pdf
Figures.d/11-torch_s7cfd16_720min_20init_2023-04-27_15-16-12_progress.pdf
Figures.d/11-torch_p040025_1min_5init_2023-04-28_10-44-04_importance.pdf
Figures.d/11-torch_p040025_1min_5init_2023-04-28_10-44-04_progress.pdf
notebooks/data/FashionMNIST/raw/t10k-images-idx3-ubyte
notebooks/data/FashionMNIST/raw/t10k-images-idx3-ubyte.gz
notebooks/data/FashionMNIST/raw/t10k-labels-idx1-ubyte
notebooks/data/FashionMNIST/raw/t10k-labels-idx1-ubyte.gz
notebooks/data/FashionMNIST/raw/train-images-idx3-ubyte
notebooks/data/FashionMNIST/raw/train-images-idx3-ubyte.gz
notebooks/data/FashionMNIST/raw/train-labels-idx1-ubyte
notebooks/data/FashionMNIST/raw/train-labels-idx1-ubyte.gz
notebooks/res_11-torch_p040025_1min_5init_2023-04-28_10-44-04.pkl
Figures.d/11-torch_bartz09_1min_5init_2023-04-29_08-37-55_importance.pdf
Figures.d/11-torch_bartz09_1min_5init_2023-04-29_08-37-55_progress.pdf
Figures.d/12-torch_p040025_1min_5init_2023-04-28_10-23-47_importance.pdf
Figures.d/12-torch_p040025_1min_5init_2023-04-28_10-23-47_progress.pdf
notebooks/res_11-torch_bartz09_1min_5init_2023-04-29_08-37-55.pkl
notebooks/res_12-torch_p040025_1min_5init_2023-04-28_10-23-47.pkl
Figures.d/13-torch_bartz09_1min_5init_2023-05-01_20-47-14_importance.pdf
Figures.d/13-torch_bartz09_1min_5init_2023-05-01_20-47-14_progress.pdf
notebooks/MNIST/raw/t10k-images-idx3-ubyte
notebooks/MNIST/raw/t10k-images-idx3-ubyte.gz
notebooks/MNIST/raw/t10k-labels-idx1-ubyte
notebooks/MNIST/raw/t10k-labels-idx1-ubyte.gz
notebooks/MNIST/raw/train-images-idx3-ubyte
notebooks/MNIST/raw/train-images-idx3-ubyte.gz
notebooks/MNIST/raw/train-labels-idx1-ubyte
notebooks/MNIST/raw/train-labels-idx1-ubyte.gz
notebooks/model-fold-0.pth
notebooks/model-fold-1.pth
notebooks/model-fold-2.pth
notebooks/model-fold-3.pth
notebooks/model-fold-4.pth
notebooks/res_13-torch_bartz09_1min_5init_2023-05-01_20-47-14.pkl
Figures.d/13-torch_p040025_1min_5init_2023-05-04_08-05-48_importance.pdf
Figures.d/13-torch_p040025_1min_5init_2023-05-04_08-05-48_progress.pdf
notebooks/res_13-torch_p040025_1min_5init_2023-05-04_08-05-48.pkl
Figures.d/13-torch_p040025_1min_5init_2023-05-04_12-26-03_importance.pdf
Figures.d/13-torch_p040025_1min_5init_2023-05-04_12-26-03_progress.pdf
notebooks/res_13-torch_p040025_1min_5init_2023-05-04_12-26-03.pkl
Figures.d/13-torch_p040025_1min_5init_2023-05-04_13-01-55_importance.pdf
Figures.d/13-torch_p040025_1min_5init_2023-05-04_13-01-55_progress.pdf
Figures.d/13-torch_p040025_1min_5init_2023-05-04_15-42-13_importance.pdf
Figures.d/13-torch_p040025_1min_5init_2023-05-04_15-42-13_progress.pdf
Figures.d/13-torch_p040025_60min_10init_2023-05-04_16-16-12_contour_0_2.pdf
Figures.d/13-torch_p040025_60min_10init_2023-05-04_16-16-12_contour_0_3.pdf
Figures.d/13-torch_p040025_60min_10init_2023-05-04_16-16-12_contour_0_4.pdf
Figures.d/13-torch_p040025_60min_10init_2023-05-04_16-16-12_contour_2_3.pdf
Figures.d/13-torch_p040025_60min_10init_2023-05-04_16-16-12_contour_2_4.pdf
Figures.d/13-torch_p040025_60min_10init_2023-05-04_16-16-12_contour_3_4.pdf
Figures.d/13-torch_p040025_60min_10init_2023-05-04_16-16-12_importance.pdf
Figures.d/13-torch_p040025_60min_10init_2023-05-04_16-16-12_progress.pdf
notebooks/res_13-torch_p040025_1min_5init_2023-05-04_13-01-55.pkl
notebooks/res_13-torch_p040025_1min_5init_2023-05-04_15-42-13.pkl
notebooks/res_13-torch_p040025_60min_10init_2023-05-04_16-16-12.pkl
notebooks/res_13-torch_s7cfd16_360min_20init_2023-05-04_21-45-52.pkl
Figures.d/13-torch_s7cfd16_360min_20init_2023-05-04_21-45-52_contour_0_2.pdf
Figures.d/13-torch_s7cfd16_360min_20init_2023-05-04_21-45-52_contour_0_3.pdf
Figures.d/13-torch_s7cfd16_360min_20init_2023-05-04_21-45-52_contour_2_3.pdf
Figures.d/13-torch_s7cfd16_360min_20init_2023-05-04_21-45-52_importance.pdf
Figures.d/13-torch_s7cfd16_360min_20init_2023-05-04_21-45-52_progress.pdf
Figures.d/13-torch_p040025_10min_5init_2023-05-05_14-48-36_contour_1_3.pdf
Figures.d/13-torch_p040025_10min_5init_2023-05-05_14-48-36_importance.pdf
Figures.d/13-torch_p040025_10min_5init_2023-05-05_14-48-36_progress.pdf
Figures.d/13-torch_p040025_10min_5init_2023-05-05_18-16-21_importance.pdf
Figures.d/13-torch_p040025_10min_5init_2023-05-05_18-16-21_progress.pdf
notebooks/res_13-torch_p040025_10min_5init_2023-05-05_14-48-36.pkl
notebooks/res_13-torch_p040025_10min_5init_2023-05-05_18-16-21.pkl
notebooks/13_spot_hpt_torch_cv_fashion_mnist.pdf
Figures.d/13-torch_p040025_10min_5init_2023-05-06_09-44-38_contour_0_2.pdf
Figures.d/13-torch_p040025_10min_5init_2023-05-06_09-44-38_importance.pdf
Figures.d/13-torch_p040025_10min_5init_2023-05-06_09-44-38_progress.pdf
notebooks/res_13-torch_p040025_10min_5init_2023-05-06_09-44-38.pkl
Figures.d/13-torch_bartz09_10min_5init_2023-05-06_18-24-09_contour_0_4.pdf
Figures.d/13-torch_bartz09_10min_5init_2023-05-06_18-24-09_importance.pdf
Figures.d/13-torch_bartz09_10min_5init_2023-05-06_18-24-09_progress.pdf
Figures.d/12-torch_p040025_1min_5init_2023-05-07_10-00-44_progress.pdf
Figures.d/12-torch_p040025_1min_5init_2023-05-07_10-00-44_importance.pdf
Figures.d/12-torch_p040025_1min_5init_2023-05-07_10-00-44_contour_2_3.pdf
Figures.d/10-sklearn_bartz09_1min_10init_2023-05-07_12-19-36_importance.pdf
Figures.d/10-sklearn_bartz09_1min_10init_2023-05-07_12-19-36_progress.pdf
Figures.d/10-sklearn_bartz09_1min_10init_2023-05-07_12-31-38_importance.pdf
Figures.d/10-sklearn_bartz09_1min_10init_2023-05-07_12-31-38_progress.pdf
Figures.d/10-sklearn_bartz09_1min_10init_2023-05-07_12-49-08_contour_1_3.pdf
Figures.d/10-sklearn_bartz09_1min_10init_2023-05-07_12-49-08_contour_1_5.pdf
Figures.d/10-sklearn_bartz09_1min_10init_2023-05-07_12-49-08_contour_1_9.pdf
Figures.d/10-sklearn_bartz09_1min_10init_2023-05-07_12-49-08_contour_3_5.pdf
Figures.d/10-sklearn_bartz09_1min_10init_2023-05-07_12-49-08_contour_3_9.pdf
Figures.d/10-sklearn_bartz09_1min_10init_2023-05-07_12-49-08_contour_5_9.pdf
Figures.d/10-sklearn_bartz09_1min_10init_2023-05-07_12-49-08_importance.pdf
Figures.d/10-sklearn_bartz09_1min_10init_2023-05-07_12-49-08_progress.pdf
Figures.d/10-sklearn_bartz09_1min_10init_2023-05-07_13-06-20_contour_1_3.pdf
Figures.d/10-sklearn_bartz09_1min_10init_2023-05-07_13-06-20_contour_1_8.pdf
Figures.d/10-sklearn_bartz09_1min_10init_2023-05-07_13-06-20_contour_1_9.pdf
Figures.d/10-sklearn_bartz09_1min_10init_2023-05-07_13-06-20_contour_3_8.pdf
Figures.d/10-sklearn_bartz09_1min_10init_2023-05-07_13-06-20_contour_3_9.pdf
Figures.d/10-sklearn_bartz09_1min_10init_2023-05-07_13-06-20_contour_8_9.pdf
Figures.d/10-sklearn_bartz09_1min_10init_2023-05-07_13-06-20_importance.pdf
Figures.d/10-sklearn_bartz09_1min_10init_2023-05-07_13-06-20_progress.pdf
notebooks/data/kaggle/sample_submission.csv
notebooks/data/kaggle/test.csv
notebooks/data/kaggle/train.csv
notebooks/00_delete_generating-map-k-predictions.ipynb
Figures.d/10-sklearn_bartz09_5min_20init_2023-05-10_00-32-59_contour_2_5.pdf
Figures.d/10-sklearn_bartz09_5min_20init_2023-05-10_00-32-59_contour_2_6.pdf
Figures.d/10-sklearn_bartz09_5min_20init_2023-05-10_00-32-59_contour_2_9.pdf
Figures.d/10-sklearn_bartz09_5min_20init_2023-05-10_00-32-59_contour_5_6.pdf
Figures.d/10-sklearn_bartz09_5min_20init_2023-05-10_00-32-59_contour_5_9.pdf
Figures.d/10-sklearn_bartz09_5min_20init_2023-05-10_00-32-59_contour_6_9.pdf
Figures.d/10-sklearn_bartz09_5min_20init_2023-05-10_00-32-59_importance.pdf
Figures.d/10-sklearn_bartz09_5min_20init_2023-05-10_00-32-59_progress.pdf
Figures.d/10-sklearn_bartz09_5min_20init_2023-05-10_00-43-18_contour_0_1.pdf
Figures.d/10-sklearn_bartz09_5min_20init_2023-05-10_00-43-18_contour_0_2.pdf
Figures.d/10-sklearn_bartz09_5min_20init_2023-05-10_00-43-18_contour_0_3.pdf
Figures.d/10-sklearn_bartz09_5min_20init_2023-05-10_00-43-18_contour_1_2.pdf
Figures.d/10-sklearn_bartz09_5min_20init_2023-05-10_00-43-18_contour_1_3.pdf
Figures.d/10-sklearn_bartz09_5min_20init_2023-05-10_00-43-18_contour_2_3.pdf
Figures.d/10-sklearn_bartz09_5min_20init_2023-05-10_00-43-18_importance.pdf
Figures.d/10-sklearn_bartz09_5min_20init_2023-05-10_00-43-18_progress.pdf
*.pkl
notebooks/besttorch_model.pt
notebooks/model_spot_trained.pt
notebooks/torch_model.pt
notebooks/model_default_trained.pt
docs_old2/bart23e.html
docs_old2/bart23e.pdf
docs_old2/figures/14-torch_bartz09_30min_10init_2023-05-14_14-45-25_contour_0_2.png
docs_old2/figures/14-torch_bartz09_30min_10init_2023-05-14_14-45-25_contour_0_3.png
docs_old2/figures/14-torch_bartz09_30min_10init_2023-05-14_14-45-25_contour_2_3.png
docs_old2/figures/14-torch_bartz09_30min_10init_2023-05-14_14-45-25_importance.png
docs_old2/figures/14-torch_bartz09_30min_10init_2023-05-14_14-45-25_progress.png
docs_old2/figures/parallel.png
docs_old2/index.html
docs_old2/search.json
docs_old2/site_libs/bootstrap/bootstrap-icons.css
docs_old2/site_libs/bootstrap/bootstrap-icons.woff
docs_old2/site_libs/bootstrap/bootstrap.min.css
docs_old2/site_libs/bootstrap/bootstrap.min.js
docs_old2/site_libs/clipboard/clipboard.min.js
docs_old2/site_libs/quarto-html/anchor.min.js
docs_old2/site_libs/quarto-html/popper.min.js
docs_old2/site_libs/quarto-html/quarto-syntax-highlighting.css
docs_old2/site_libs/quarto-html/quarto.js
docs_old2/site_libs/quarto-html/tippy.css
docs_old2/site_libs/quarto-html/tippy.umd.min.js
docs_old2/site_libs/quarto-nav/quarto-nav.js
docs_old2/site_libs/quarto-search/autocomplete.umd.js
docs_old2/site_libs/quarto-search/fuse.min.js
docs_old2/site_libs/quarto-search/quarto-search.js
docs_old3/bart23e.html
docs_old3/bart23e.pdf
docs_old3/figures/14-torch_bartz09_30min_10init_2023-05-14_14-45-25_contour_0_2.png
docs_old3/figures/14-torch_bartz09_30min_10init_2023-05-14_14-45-25_contour_0_3.png
docs_old3/figures/14-torch_bartz09_30min_10init_2023-05-14_14-45-25_contour_2_3.png
docs_old3/figures/14-torch_bartz09_30min_10init_2023-05-14_14-45-25_importance.png
docs_old3/figures/14-torch_bartz09_30min_10init_2023-05-14_14-45-25_progress.png
docs_old3/figures/parallel.png
docs_old3/img/spotLogo.png
docs_old3/index.html
docs_old3/search.json
docs_old3/site_libs/bootstrap/bootstrap-icons.css
docs_old3/site_libs/bootstrap/bootstrap-icons.woff
docs_old3/site_libs/bootstrap/bootstrap.min.css
docs_old3/site_libs/bootstrap/bootstrap.min.js
docs_old3/site_libs/clipboard/clipboard.min.js
docs_old3/site_libs/quarto-html/anchor.min.js
docs_old3/site_libs/quarto-html/popper.min.js
docs_old3/site_libs/quarto-html/quarto-syntax-highlighting.css
docs_old3/site_libs/quarto-html/quarto.js
docs_old3/site_libs/quarto-html/tippy.css
docs_old3/site_libs/quarto-html/tippy.umd.min.js
docs_old3/site_libs/quarto-nav/quarto-nav.js
docs_old3/site_libs/quarto-search/autocomplete.umd.js
docs_old3/site_libs/quarto-search/fuse.min.js
docs_old3/site_libs/quarto-search/quarto-search.js
notebooks/data/VBDP/sample_submission.csv
notebooks/data/VBDP/test.csv
notebooks/data/VBDP/testt.csv
notebooks/data/VBDP/train.csv
notebooks/data/VBDP/trainn.csv
notebooks/data/MNIST/raw/t10k-images-idx3-ubyte
notebooks/data/MNIST/raw/t10k-images-idx3-ubyte.gz
notebooks/data/MNIST/raw/t10k-labels-idx1-ubyte
notebooks/data/MNIST/raw/t10k-labels-idx1-ubyte.gz
notebooks/data/MNIST/raw/train-images-idx3-ubyte
notebooks/data/MNIST/raw/train-images-idx3-ubyte.gz
notebooks/data/MNIST/raw/train-labels-idx1-ubyte
notebooks/data/MNIST/raw/train-labels-idx1-ubyte.gz
notebooks/plot.png
src/spotpython/lightning/logs/
src/spotpython/lightning/MNIST/
notebooks/lightning_logs/
notebooks/figures/29-torch_bartz08-2_1min_5init_2023-06-25_08-51-47_importance.png
notebooks/figures/29-torch_bartz08-2_1min_5init_2023-06-25_08-51-47_progress.png
notebooks/figures/29-torch_bartz08-2_1min_5init_2023-06-25_09-07-34_importance.png
notebooks/figures/29-torch_bartz08-2_1min_5init_2023-06-25_09-07-34_progress.png
notebooks/figures/29-torch_bartz08-2_1min_5init_2023-06-25_09-37-14_importance.png
notebooks/figures/29-torch_bartz08-2_1min_5init_2023-06-25_09-37-14_progress.png
notebooks/figures/29-torch_bartz08-2_1min_5init_2023-06-25_09-54-30_importance.png
notebooks/figures/29-torch_bartz08-2_1min_5init_2023-06-25_09-54-30_progress.png
notebooks/figures/29-torch_bartz08-2_1min_5init_2023-06-25_10-09-08_importance.png
notebooks/figures/29-torch_bartz08-2_1min_5init_2023-06-25_10-09-08_progress.png
notebooks/figures/29-torch_bartz08-2_1min_5init_2023-06-25_10-42-10_importance.png
notebooks/figures/29-torch_bartz08-2_1min_5init_2023-06-25_10-42-10_progress.png
notebooks/figures/29-torch_bartz08_1min_5init_2023-06-25_11-26-01_importance.png
notebooks/figures/29-torch_bartz08_1min_5init_2023-06-25_11-26-01_progress.png
notebooks/figures/29-torch_bartz08_1min_5init_2023-06-25_11-36-37_importance.png
notebooks/figures/29-torch_bartz08_1min_5init_2023-06-25_11-36-37_progress.png
notebooks/figures/29-torch_bartz08_1min_5init_2023-06-25_11-46-39_importance.png
notebooks/figures/29-torch_bartz08_1min_5init_2023-06-25_11-46-39_progress.png
notebooks/figures/29-torch_bartz08-2_1min_5init_2023-06-25_12-50-52_importance.png
notebooks/figures/29-torch_bartz08-2_1min_5init_2023-06-25_12-50-52_progress.png
notebooks/figures/29-torch_bartz08-2_1min_5init_2023-06-25_13-00-42_importance.png
notebooks/figures/29-torch_bartz08-2_1min_5init_2023-06-25_13-00-42_progress.png
notebooks/figures/29-torch_bartz08-2_1min_5init_2023-06-25_13-13-48_importance.png
notebooks/figures/29-torch_bartz08-2_1min_5init_2023-06-25_13-13-48_progress.png
notebooks/figures/29-torch_bartz08_1min_5init_2023-06-25_12-07-45_importance.png
notebooks/figures/29-torch_bartz08_1min_5init_2023-06-25_12-07-45_progress.png
notebooks/figures/29-torch_bartz08_1min_5init_2023-06-25_12-26-52_importance.png
notebooks/figures/29-torch_bartz08_1min_5init_2023-06-25_12-26-52_progress.png
notebooks/figures/29-torch_bartz08_1min_5init_2023-06-25_12-34-35_importance.png
notebooks/figures/29-torch_bartz08_1min_5init_2023-06-25_12-34-35_progress.png
notebooks/figures/29-torch_bartz08_1min_5init_2023-06-25_12-43-44_importance.png
notebooks/figures/29-torch_bartz08_1min_5init_2023-06-25_12-43-44_progress.png
notebooks/figures/29-torch_6990672e-06d5-40dc-a0d3-ecd88f8e3633_1min_5init_2023-06-25_15-53-34_importance.png
notebooks/figures/29-torch_6990672e-06d5-40dc-a0d3-ecd88f8e3633_1min_5init_2023-06-25_15-53-34_progress.png
notebooks/figures/30-light_bartz08-2_1min_5init_2023-06-25_16-28-39_importance.png
notebooks/figures/30-light_bartz08-2_1min_5init_2023-06-25_16-28-39_progress.png
notebooks/figures/30-light_bartz08-2_1min_5init_2023-06-25_16-53-31_importance.png
notebooks/figures/30-light_bartz08-2_1min_5init_2023-06-25_16-53-31_progress.png
notebooks/figures/30-light_p040025_1min_5init_2023-06-25_18-11-10_importance.png
notebooks/figures/30-light_p040025_1min_5init_2023-06-25_18-11-10_progress.png
notebooks/figures/30-light_bartz08-2_1min_5init_2023-06-25_17-58-41_importance.png
notebooks/figures/30-light_bartz08-2_1min_5init_2023-06-25_17-58-41_progress.png
notebooks/figures/31_maans05_2023-07-04_11-34-37_contour_2_5.png
notebooks/figures/31_maans05_2023-07-04_11-34-37_contour_2_6.png
notebooks/figures/31_maans05_2023-07-04_11-34-37_contour_2_8.png
notebooks/figures/31_maans05_2023-07-04_11-34-37_contour_5_6.png
notebooks/figures/31_maans05_2023-07-04_11-34-37_contour_5_8.png
notebooks/figures/31_maans05_2023-07-04_11-34-37_contour_6_8.png
notebooks/figures/31_maans05_2023-07-04_11-34-37_importance.png
notebooks/figures/31_maans05_2023-07-04_11-34-37_progress.png
notebooks/figures/31_maans05_2023-07-04_11-43-06_contour_2_5.png
notebooks/figures/31_maans05_2023-07-04_11-43-06_contour_2_6.png
notebooks/figures/31_maans05_2023-07-04_11-43-06_contour_2_8.png
notebooks/figures/31_maans05_2023-07-04_11-43-06_contour_5_6.png
notebooks/figures/31_maans05_2023-07-04_11-43-06_contour_5_8.png
notebooks/figures/31_maans05_2023-07-04_11-43-06_contour_6_8.png
notebooks/figures/31_maans05_2023-07-04_11-43-06_importance.png
notebooks/figures/31_maans05_2023-07-04_11-43-06_progress.png
site/
notebooks/data/spotpython/daten_sensitive.xlsx
notebooks/data/spotpython/daten_sensitive.py
notebooks/data/spotpython/daten_sensitive.csv
notebooks/data/spotpython/data_sensitive.csv
notebooks/data/spotpython/data_sensitive_rmNA.csv
notebooks/runs_OLD/*
runs/lightning_logs/*
lightning_logs/*
runs/*
src/spotpython/data/pkldataset_intern.py
runs_OLD/*
test_plot.png
plot.png
src/spotpython/data/people_test.csv
src/spotpython/data/people_train.csv
notebooks/00_spotpython_tests_files/libs/bootstrap/bootstrap-icons.css
notebooks/00_spotpython_tests_files/libs/bootstrap/bootstrap-icons.woff
notebooks/00_spotpython_tests_files/libs/bootstrap/bootstrap.min.css
notebooks/00_spotpython_tests_files/libs/bootstrap/bootstrap.min.js
notebooks/00_spotpython_tests_files/libs/clipboard/clipboard.min.js
notebooks/00_spotpython_tests_files/libs/quarto-html/anchor.min.js
notebooks/00_spotpython_tests_files/libs/quarto-html/popper.min.js
notebooks/00_spotpython_tests_files/libs/quarto-html/quarto-syntax-highlighting.css
notebooks/00_spotpython_tests_files/libs/quarto-html/quarto.js
notebooks/00_spotpython_tests_files/libs/quarto-html/tippy.css
notebooks/00_spotpython_tests_files/libs/quarto-html/tippy.umd.min.js
notebooks/00_spotpython_tests.html
data.csv
spot_00_experiment.pickle
notebooks/progress.txt
notebooks/spot_000_experiment.pickle
notebooks/spot_100_experiment.pickle
notebooks/spot_TEST_experiment.pickle
notebooks/spot_TEST_SAVE_experiment.pickle
notebooks/model_architecture
notebooks/model_architecture.png
notebooks/model_architecture1
notebooks/model_architecture1.png
notebooks/model_architecture2
notebooks/model_architecture2.png
notebooks/model_architecture3
notebooks/model_architecture3.png
notebooks/model_architecture4
notebooks/model_architecture4.png
notebooks/spot_00_TEST_experiment.pickle
notebooks/00_spotPython_tests.aux
notebooks/00_spotPython_tests.pdf
notebooks/00_spotPython_tests.tex
notebooks/00_spotPython_tests_files/libs/bootstrap/bootstrap-973236bd072d72a04ee9cd82dcc9cb29.min.css
notebooks/00_spotPython_tests_files/libs/quarto-html/quarto-syntax-highlighting-549806ee2085284f45b00abea8c6df48.css
