*.egg-info/
.DS_Store
__pycache__/
spotPython.code-workspace
src/spotPython/_version.py
*.log
site/sitemap.xml.gz
site/sitemap.xml
site/spotPython.tar.gz
site/reference/spotPython/_version/index.html
site/reference/spotPython/budget/ocba/index.html
site/reference/spotPython/build/kriging/index.html
site/reference/spotPython/build/surrogates/index.html
site/reference/spotPython/design/designs/index.html
site/reference/spotPython/design/factorial/index.html
site/reference/spotPython/design/spacefilling/index.html
site/reference/spotPython/fun/objectivefunctions/index.html
site/reference/spotPython/plot/contour/index.html
site/reference/spotPython/spot/spot/index.html
site/reference/spotPython/utils/aggregate/index.html
site/reference/spotPython/utils/compare/index.html
site/reference/spotPython/utils/progress/index.html
site/reference/spotPython/utils/repair/index.html
site/reference/spotPython/utils/transform/index.html
site/reference/SUMMARY/index.html
site/search/search_index.json
site/sitemap.xml
site/sitemap.xml.gz
site/spotPython.tar.gz
site/404.html
site/about/index.html
site/download/index.html
site/examples/index.html
site/index.html
site/objects.inv
site/reference/spotPython/budget/ocba/index.html
site/reference/spotPython/build/kriging/index.html
site/reference/spotPython/build/surrogates/index.html
site/reference/spotPython/design/designs/index.html
site/reference/spotPython/design/factorial/index.html
site/reference/spotPython/design/spacefilling/index.html
site/reference/spotPython/fun/objectivefunctions/index.html
site/reference/spotPython/plot/contour/index.html
site/reference/spotPython/spot/spot/index.html
site/reference/spotPython/utils/aggregate/index.html
site/reference/spotPython/utils/compare/index.html
site/reference/spotPython/utils/progress/index.html
site/reference/spotPython/utils/repair/index.html
site/reference/spotPython/utils/transform/index.html
site/reference/SUMMARY/index.html
site/search/search_index.json
site/sitemap.xml
site/sitemap.xml.gz
site/spotPython.tar.gz
