include src/spotpython/data/*.csv
include src/spotpython/data/*.json
include src/spotpython/data/*.pkl
include src/spotpython/hyperdict/*.json

prune docs
prune Figures.d
prune lightning_logs
prune notebooks
prune runs
prune runs_OLD
